/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 12rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../../static/img/background.png);
  background-position: center;
  background-size: cover;
}

.heroTitle {
  color: #F5F6F7;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 6rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.profileRelativeSize {
  max-width: 20%;
  border-radius: 35%;
}

.figCenter {
  margin: 0 auto;
  display: block;
}