.small
{
    max-width: 60%;
}

.medium
{
    max-width: 80%;
}

@media screen and (max-width: 996px) {
    .small .medium {
        max-width: 100%;
    }

}

.figCenter
{
    margin: 0 auto;
    display: block;
    padding: 20px 0
}